.text {
  line-height: 1.5;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  height: 790px;
}

.feynman__img {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
}

.feynman__link {
  position: absolute;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}